@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');

body {
    width:240px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 15px;
    border: 1px solid #1536514a;
    margin: 0;
}

.logo img {
    height: 70px;
    margin-top: 20px;
}

#part1,
#part2 {
    font-family: "Roboto Mono", monospace;
}

#part1 {
    margin-top: 20px;
}

.password-response img {
    height:20px;
}

.generate-password-button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.generate-password-button::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.generate-password-button:hover::after {
    top: 0px;
    left: 0px;
}

.response-container {
    margin-top: 10px;
}

.response-container,
.password-body,
.hint-body {
    padding: 10px;
    text-align: center;
}

.password-response,
.hint-response {
	background-color:#eeeeee;
    padding: 10px;
    text-align: center;
	border:1px solid #dfdfdf;
    font-family: "Book Antiqua";
    position:relative;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: #3c3c3c;
    visibility: hidden;
    width: 120px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 190%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}