@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css');

body {
    width:240px;
    /* background: #addff6; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    font-size: 15px;
    border: 1px solid #1536514a;
    margin: 0;
}

.logo img {
    height: 70px;
    margin-top: 20px;
}

#part1,
#part2 {
    font-family: "Roboto Mono", monospace;
}

#part1 {
    margin-top: 20px;
}

.copy {
    position: absolute;
    /* right:15px; */
    right:0px;
    top:0px;
    cursor: pointer;
    opacity:0.8;
}

.copy:hover {
    opacity:1;
}

.alerBox {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    /* what on earth is vh? */
    height:100vh;
    background:chartreuse;
    color:aqua;
    text-align: center;
    font-size:4em;
    display:none;
}

.alerBox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .copy img {
    height:20px;
} whay it's not working? */

.password-response img {
    height:20px;
}

.generate-password-button {
    margin-top: 20px;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    /* padding: 13px 50px 13px; */
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.generate-password-button::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.generate-password-button:hover::after {
    top: 0px;
    left: 0px;
}

.response-container {
    margin-top: 20px;
}

.response-container,
.password-body,
.hint-body {
    /* border-radius: 10px; */
    padding: 10px;
    /* background: #ffffff; */
    text-align: center;
}

.password-response,
.hint-response {
	background-color:#eeeeee;
    padding: 10px;
    text-align: center;
	border:1px solid #dfdfdf;
    font-family: "Book Antiqua";
    position:relative;
}